<div class="w-full overflow-hidden rounded-lg border border-gray-200 shadow-lg bg-gray-50 px-4 py-8 flex flex-col">
	{{ form_start(form) }}
	<div class="flex flex-col gap-2 p-4">
		{{ form_label(form.email, 'Email') }}
		{{ form_widget(form.email, {'attr': {'class': 'rounded border border-gray-300 p-2'}}) }}
	</div>
	<div class="flex flex-col gap-2 p-4">
		{{ form_label(form.nombre, 'Nombre') }}
		{{ form_widget(form.nombre, {'attr': {'class': 'rounded border border-gray-300 p-2'}}) }}
	</div>
	<div class="flex flex-col gap-2 p-4">
		{{ form_label(form.apellido, 'Apellido') }}
		{{ form_widget(form.apellido, {'attr': {'class': 'rounded border border-gray-300 p-2'}}) }}
	</div>
	<div class="flex flex-col gap-2 p-4">
		{{ form_label(form.cartera, 'Cartera') }}
		{{ form_widget(form.cartera, {'attr': {'class': 'rounded border border-gray-300 p-2'}}) }}
	</div>
	<button class="btn ml-4 mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-36 text-center duration-300">{{ button_label|default('Guardar') }}</button>
	{{ form_end(form) }}
</div>
