<div class="flex flex-col top-0 left-0 w-2/12 md:w-3/12 bg-white dark:bg-slate-800 h-full border-r-2 dark:border-slate-900">
	<div class="flex items-center justify-center h-16 border-b dark:border-slate-900">
		<span class="font-bold text-gray-800 hidden md:block dark:text-white">Circuit Management</span>
		<i class="fa-solid fa-flag-checkered fa-2x block md:hidden dark:text-white"></i>
	</div>
	<!-- Opciones del menú -->
	<nav class="flex-grow overflow-y-auto mt-5">
		<a href="{{ url('admin_page') }}" class="flex items-center justify-center md:justify-start px-6 py-2 text-gray-700 hover:text-gray-800 hover:bg-gray-100 dark:hover:bg-slate-900 {{ app.request.uri != url('admin_page') ?: 'border-l-4 border-indigo-500 bg-gray-100 dark:bg-slate-900' }}">
			<i class="fas fa-tachometer-alt mr-3 fa-2x dark:text-white"></i>
			<span class="font-medium hidden md:block dark:text-white">Dashboard</span>
		</a>
		<a href="{{ url('app_usuario_index') }}" class="flex items-center justify-center md:justify-start px-6 py-2 mt-2 text-gray-700 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-slate-900 {{ app.request.uri != url('app_usuario_index') ?: 'border-l-4 border-indigo-500 bg-gray-100 dark:bg-slate-900' }}">
			<i class="fa-solid fa-user mr-3 fa-2x dark:text-white"></i>
			<span class="font-medium hidden md:block dark:text-white">Usuarios</span>
		</a>
		<a href="{{ url('app_reserva_index') }}" class="flex items-center justify-center md:justify-start px-6 py-2 mt-2 text-gray-700 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-slate-900 {{ app.request.uri != url('app_reserva_index') ?: 'border-l-4 border-indigo-500 bg-gray-100 dark:bg-slate-900' }}">
			<i class="fa-solid fa-ticket mr-3 fa-2x dark:text-white"></i>
			<span class="font-medium hidden md:block dark:text-white">Reservas</span>
		</a>
		<a href="{{url('app_coche_index')}}" class="flex items-center justify-center md:justify-start px-6 py-2 mt-2 text-gray-700 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-slate-900 {{ app.request.uri != url('app_coche_index') ?: 'border-l-4 border-indigo-500 bg-gray-100 dark:bg-slate-900' }}">
			<i class="fa-solid fa-car mr-3 fa-2x dark:text-white"></i>
			<span class="font-medium hidden md:block dark:text-white">Coches</span>
		</a>
		<a href="{{url('app_tipo_incidente_index')}}" class="flex items-center justify-center md:justify-start px-6 py-2 mt-2 text-gray-700 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-slate-900 {{ app.request.uri != url('app_tipo_incidente_index') ?: 'border-l-4 border-indigo-500 bg-gray-100 dark:bg-slate-900' }}">
			<i class="fa-solid fa-flag mr-3 fa-2x dark:text-white"></i>
			<span class="font-medium hidden md:block dark:text-white">Tipos de incidentes</span>
		</a>
		<a href="#" class="flex items-center justify-center md:justify-start px-6 py-2 mt-2 text-gray-700 hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-slate-900">
			<i class="fa-solid fa-gear mr-3 fa-2x dark:text-white"></i>
			<span class="font-medium hidden md:block dark:text-white">Configuración</span>
		</a>

		<div class="flex flex-col md:flex-row items-center justify-center md:justify-start px-6 py-2 mt-2 pt-6 gap-4 md:gap-2 border-t dark:border-slate-900">
			<i class="fa-solid fa-sun fa-2x text-gray-700 dark:text-slate-50"></i>
			<label for="toggleTwo" class="flex cursor-pointer select-none items-center rotate-90 md:rotate-0" id="dark-mode-toggle">
				<div class="relative">
					<input type="checkbox" id="darkModeCheckbox" class="sr-only"/>
					<div class="block h-8 w-14 rounded-full bg-[#E5E7EB]"></div>
					<div class="dot absolute left-1 dark:right-1 dark:left-auto top-1 h-6 w-6 rounded-full bg-white dark:bg-blue-500 transition"></div>
				</div>
			</label>
			<i class="fa-solid fa-moon fa-2x text-gray-700 dark:text-slate-50"></i>
		</div>
	</nav>
</div>
