{% extends 'admin/base.html.twig' %}

{% block title %}Coches
{% endblock %}


{% block content %}
	<div class="w-full overflow-hidden flex flex-col flex-wrap px-4 py-8 gap-12">
		<h1 class="text-3xl font-semibold dark:text-white">Coches</h1>
		<div class="w-full overflow-hidden rounded-lg border border-gray-200 shadow-lg">
			<table class="w-full border-collapse bg-white text-left text-sm text-slate-600">
				<thead class="bg-gray-50">
					<tr>
						<th scope="col" class="px-4 py-4 font-semibold text-slate-800">#</th>
						<th scope="col" class="px-4 py-4 font-semibold text-slate-800">Marca</th>
						<th scope="col" class="px-4 py-4 font-semibold text-slate-800">Modelo</th>
						<th scope="col" class="px-4 py-4 font-semibold text-slate-800">Color</th>
						<th scope="col" class="px-4 py-4 font-semibold text-slate-800">CV</th>
						<th scope="col" class="px-4 py-4 font-semibold text-slate-800">Acciones</th>
					</tr>
				</thead>
				<tbody class="divide-y divide-gray-200 border-t border-gray-100">
					{% for coche in coches %}
						<tr class="hover:bg-gray-100 duration-300">
							<th class="px-4 py-4">
								{{ coche.id }}
							</th>
							<td class="px-4 py-4">
								{{ coche.marca }}
							</td>
							<td class="px-4 py-4">
								{{ coche.modelo }}
							</td>
							<td class="px-4 py-4">
								{{ coche.color }}
							</td>
							<td class="px-4 py-4">
								{{ coche.cv }}
							</td>
							<td class="px-4 py-4 flex gap-2">
								<a href="{{ path('app_coche_show', {'id': coche.id}) }}" class="text-blue-500 hover:text-blue-700 mr-2">
									<i class="fa-solid fa-magnifying-glass"></i>
								</a>
								<a href="{{ path('app_coche_edit', {'id': coche.id}) }}" class="text-blue-500 hover:text-blue-700">
									<i class="fa-solid fa-pen-to-square"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6" class="px-4 py-4 text-center">
								<i class="fa-solid fa-xmark"></i>
								No se encontraron registros
								<i class="fa-solid fa-xmark"></i>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<a href="{{ path('app_coche_new') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-36 text-center duration-300">Insertar coche</a>
	</div>
{% endblock %}
