{% extends 'base.html.twig' %}

{% block title %}Incidente index{% endblock %}

{% block body %}
    <h1>Incidente index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for incidente in incidentes %}
            <tr>
                <td>{{ incidente.id }}</td>
                <td>{{ incidente.descripcion }}</td>
                <td>
                    <a href="{{ path('app_incidente_show', {'id': incidente.id}) }}">show</a>
                    <a href="{{ path('app_incidente_edit', {'id': incidente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_incidente_new') }}">Create new</a>
{% endblock %}
